---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cómo Pagar">
    <p class="text-center text-[12px] pt-[150px]">Inicio > CÓMO COMPRAR</p>
    <h1 class="text-center font-bold text-[45px] md:text-[60px] mt-2">CÓMO COMPRAR</h1>
    <div class="flex items-center justify-center text-[40px]">
        <h2 class="font-bold mt-10 p-4">
            Te dejamos los pasos para hacer <br /> una compra en nuestra página
            <br />
             web:
        </h2>
    </div>
    <section class="mt-10 flex items-center justify-center p-3">
        <ol type="1">
            <li class="text-[22px]">
                <span class="text-[15px]">1.</span> Elegí la categoría que estás
                buscando
            </li>
            <li class="text-[22px]">
                <span class="text-[15px]">2.</span> Seleccionás tus preferencias
                de talle y hacés click en <br />
                <span class="font-bold text-[23px]">AGREGAR AL CARRITO</span>.
            </li>
            <li class="text-[22px]">
                <span class="text-[15px]">3.</span> Una vez que estás en el
                carrito de compras, podés seguir <br /> comprando o avanzar
                haciendo click en <span class="font-bold text-[23px]"
                    >INICIAR COMPRA</span
                >.
            </li>
            <li class="text-[22px]">
                <span class="text-[15px]">4.</span> Completa tus datos de
                contacto y hacé click en <span class="font-bold text-[23px]"
                    >CONTINUAR</span
                >.
            </li>
            <li class="text-[22px]">
                <span class="text-[15px]">5.</span> Seleccioná el método de
                envío que desees y hacé clic en <br />
                <span class="font-bold text-[23px]">CONTINUAR</span>.
            </li>
            <li class="text-[22px]">
                <span class="text-[15px]">6.</span> Elegí el método de pago y
                completá los datos. Hacé click en <br />
                <span class="font-bold text-[23px]">INICIAR PAGO</span>.
            </li>
            <li class="text-[22px]">
                <span class="text-[15px]">7.</span> Listo! Vas e recibir el mail
                de confirmación de compras en tu <br /> e-mail! En caso de no
                recibirlo te pedimos que revises la <br /> casilla de correo no
                deseado, spam o promociones.
            </li>
        </ol>
    </section>
</Layout>
