---
import Layout from "../layouts/Layout.astro";
import products from "../../products.json";
import Banner from "../components/Banner.astro";
import Info from "../components/Info.astro";
import Product from "../components/Product.astro";
import Social from "../components/Social.astro";

const firstProducts = products.slice(0, 9);
---

<Layout title="Tienda Online de Mustaque Proyecto">
  <Banner />
  <Info />
  <h2 class="text-center font-bold text-[40px] mt-20">Productos destacados</h2>
  <section class="grid xl:grid-cols-4 gap-3 px-3 grid-cols-1">
    {
      firstProducts.map((product) => (
        <Product
          id={product.id}
          img={product.img}
          name={product.name}
          price={product.price}
        />
      ))
    }
  </section>
  <Social />
</Layout>
