---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de Cambios">
    <p class="text-center text-[12px] pt-[150px]">
        Inicio > POLÍTICA DE CAMBIOS
    </p>
    <h1 class="text-center font-bold text-[40px] md:text-[60px]">POLÍTICA DE CAMBIOS</h1>
    <ul class="list-disc flex flex-wrap flex-col justify-center items-center p-4">
        <div class="mx-auto text-[14px] mt-14">
            <li>
                Tenés 30 días corridos desde que realizaste la compra para
                cambios.
            </li>
            <li>
                Deberás presentar el ticket de compra o cambio. En caso de
                compras online, la factura electrónica o <br /> acreditar el
                número de orden.
            </li>
            <li>
                Los productos deben estar en perfecto estado y con todas las
                etiquetas originales.
            </li>
            <li>
                Podrás cambiarlo por cualquier otro producto de igual valor o
                varios productos que sumen el monto <br /> del mismo. En caso de
                que superen al valor del comprado, la diferencia será abonada al
                momento <br /> del cambio.
            </li>
            <li>Los costos del reenvío de los productos están a cargo del cliente.</li>
            <p class="mt-4 text-[14px]">Te podes comunicar por WhatsApp <span class="font-bold">1125833679</span> y/o mail <span class="font-bold">ventas@mustaqe.com.ar.</span></p>
        </div>
    </ul>
</Layout>
