---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Stores">
    <p class="text-center text-[12px] pt-[150px]">Inicio > STORES</p>
    <h1 class="text-center font-bold text-[60px]">STORES</h1>
    <section class="p-[20px]">
        <h2 class="text-center text-[20px] mt-10">
            -UNICENTER SHOPPING - Piso 2, Local 2139, Martinez.
        </h2>
        <img src="/img/stores-shopping/store-1.jpg" alt="" class="w-[350px] mx-auto rounded-sm" />
        <h2 class="text-center text-[20px] mt-[50px]">
            -TORTUGAS OPEN MALL - Piso 2, Local 107, Tortuguitas.
        </h2>
        <img src="/img/stores-shopping/store-2.jpg" alt="" class="w-[350px] mx-auto rounded-sm" />
        <h2 class="text-center text-[20px] mt-[50px]">
            -PLAZA OESTE SHOPPING - Planta alta - Local 2052, Morón.
        </h2>
        <img src="/img/stores-shopping/store-3.jpg" alt="" class="w-[350px] mx-auto rounded-sm" />
        <h2 class="text-center text-[20px] mt-[50px]">
            -TERRAZAS DE MAYO SHOPPING - Local 69, Polvorines.
        </h2>
        <img src="/img/stores-shopping/store-4.jpg" alt="" class="w-[350px] mx-auto rounded-sm" />
        <h2 class="text-center text-[20px] mt-[50px]">
            -BOULEVARD SHOPPING - Local 147/148, Adrogué.
        </h2>
        <img src="/img/stores-shopping/store-5.jpg" alt="" class="w-[350px] mx-auto rounded-sm" />
    </section>
</Layout>
