<div
  id="carouselExampleAutoplaying"
  class="carousel slide p-[20px] hidden xl:inline-block"
  data-bs-ride="carousel"
>
  <div class="carousel-inner w-full">
    <div class="carousel-item active">
      <img
        src="img/banner-images/expect-1.jpg"
        class="d-block w-100"
        alt="new-shirt-white"
      />
    </div>
    <div class="carousel-item">
      <img
        src="img/banner-images/expect-2.jpg"
        class="d-block w-100"
        alt="new-shirt-white-with-design"
      />
    </div>
    <div class="carousel-item">
      <img
        src="img/banner-images/expect-3.jpg"
        class="d-block w-100"
        alt="collection-of-divers"
      />
    </div>
    <div class="carousel-item">
      <img
        src="img/banner-images/expect-4.jpg"
        class="d-block w-100"
        alt="payments-methods"
      />
    </div>
    <div class="carousel-item">
      <img
        src="img/banner-images/expect-5.jpg"
        class="d-block w-100"
        alt="other-shirts"
      />
    </div>
    <div class="carousel-item">
      <img
        src="img/banner-images/expect-6.jpg"
        class="d-block w-100"
        alt="banner-of-models"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Mobile Image -->
<img
  src="/img/banner-images/mobile-images/fondo-mobile.jpg"
  alt=""
  class="inline-block md:hidden w-full p-3"
/>
<!--  -->
