---
import Instagram from "../icons/Instagram.astro";
import Twitter from "../icons/Twitter.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import Mail from "../icons/Mail.astro";
import Payments from "./Payments.astro";
---

<i class="fixed bottom-0 right-0 p-2 m-4 bg-green-500 rounded-[100%] shadow-xl"
  ><Whatsapp color="white"/></i
>
<footer class="mt-20">
  <a href="/"
    ><img
      src="/img/logos/logo-mustaque.png"
      alt="logue-store"
      class="w-[50%] xl:w-[10%] mx-auto"
    /></a
  >
  <div
    class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
  >
    <nav class="flex flex-col flex-wrap md:flex-row justify-around text-center">
      <div class="py-2">
        <a href="/" class="text-base leading-6"> INICIO</a>
      </div>
      <div class="py-2">
        <a href="/allProducts" class="text-base leading-6"> PRODUCTOS </a>
      </div>
      <div class="py-2">
        <a href="/stores" class="text-base leading-6"> STORES</a>
      </div>
      <div class="py-2">
        <a href="/como-comprar" class="text-base leading-6"> CÓMO COMPRAR </a>
      </div>
      <div class="py-2">
        <a href="/preguntas-frecuentes" class="text-base leading-6">
          PREGUNTAS FRECUENTES
        </a>
      </div>
      <div class="py-2">
        <a href="/politica-de-cambios" class="text-base leading-6">
          POLÍTICA DE CAMBIOS
        </a>
      </div>
    </nav>
    <div class="flex justify-center mt-8 space-x-6">
      <Instagram width="24" height="24"/>
      <Twitter />
      <Whatsapp color="black" />
      <Mail />
    </div>
    <Payments />
    <p class="mt-8 text-base leading-6 text-center">
      © 2023 Mustaque, Inc. All rights reserved.
    </p>
    <p class="mt-8 text-base leading-6 text-center text-[11px]">
      Defensa de las y los consumidores. Para reclamos <span class="font-bold"
        ><a href="https://autogestion.produccion.gob.ar/consumidores"
          >ingresá acá.</a
        ></span
      > / <span class="font-bold"
        ><a href="/contacto">Botón de arrepentimiento</a></span
      >
    </p>
  </div>
</footer>
