---
import Menu from "../icons/Menu.astro";
import Bag from "../icons/Bag.astro";
import Cart from "./Cart.astro";
import MenuAside from "./MenuAside.astro";
---

<header class="fixed w-full p-[20px] z-50">
  <nav class="flex bg-black bg-opacity-50 rounded-md justify-between py-4">
    <Menu />
    <Bag />
  </nav>
  <MenuAside />
  <Cart />
</header>
