---
import Truck from "../icons/Truck.astro";
import CreditCard from "../icons/CreditCard.astro";
import Lock from "../icons/Lock.astro";
---

<div class="grid xl:grid-cols-3 grid-cols-1 place-items-center mt-24">
  <div>
    <Truck />
    <span>Envios a todo el país</span>
  </div>
  <div>
    <CreditCard />
    <span>Hasta 3 cuotas sin interes</span>
  </div>
  <div>
    <Lock />
    <span>Compra de manera segura</span>
  </div>
</div>
