<div class="flex flex-wrap items-center justify-center space-x-2 space-y-2">
  <img
    src="/img/method-pays/visa.png"
    alt=""
    class="w-auto max-h-[35px] border p-1 mt-2"
  />
  <img
    src="/img/method-pays/mastercard.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/american-express.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/dinners-club.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/paypal.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/banelco.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/cabal.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/naranja.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/tarjeta-shopping.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/mercado-pago.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/argencard.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/cencosud.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/pago-facil.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
  <img
    src="/img/method-pays/rapipago.png"
    alt=""
    class="w-auto max-h-[35px] border p-1"
  />
</div>
