---
import Instagram from "../icons/Instagram.astro";
---

<div class="text-center mt-52 mx-auto">
  <h1 class="font-bold text-[30px] md:text-[70px]">
    <Instagram width="100" height="100"/>
    Mustaque.arg
  </h1>
  <button
    type="button"
    class="text-white mt-2 bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-[20px] text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
    >Seguinos</button
  >
</div>
<h3 class="font-bold text-center text-[25px] md:text-[60px] mt-40">
  Mustaqe Indumentaria S.A.
</h3>
<p class="text-center text-[20px] mt-2">Todos los derechos reservados.</p>
<h4 class="text-center font-bold mt-24 text-[25px] md:text-[45px]">
  Recibí todas las ofertas
</h4>
<div class="p-10">
  <p class="text-center mt-10">
    ¿Querés recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a
    disfrutarlas!
  </p>
</div>
<div class="flex items-center justify-center">
  <input
    type="text"
    placeholder="Email"
    class="w-[60%] rounded-[20px] p-2 border mt-4 placeholder-opacity-0 focus:placeholder-opacity-100"
  />
</div>
<div class="text-center">
  <button
    type="button"
    class="text-white mt-2 bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-[20px] text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
    >Enviar</button
  >
</div>
